<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>imoortexport</title>
</head>
<body>
<div id="root">
    <h1>This is register page....</h1>
<!--    <form>-->
<!--        <input type="text" name="username" placeholder="Enter user name">-->
<!--        <input type="number" name="userage" placeholder="Enter user age">-->
<!--        <input type="submit">-->
<!--    </form>-->
</div>
</body>
</html>
