<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="studentBean" class="com.ent.viaSetter.Student">
		<property name="name" value="Viraj"></property>
		<property name="subjects">
			<list>
				<bean id="subjectBean1" class="com.ent.viaSetter.Subject">
					<property name="id" value="2"></property>
					<property name="subname" value="Marathi"></property>
				</bean>
				<bean id="subjectBean2" class="com.ent.viaSetter.Subject">
					<property name="id" value="3"></property>
					<property name="subname" value="English"></property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="subjectBean" class="com.ent.viaSetter.Subject">
		<property name="id" value="1"></property>
		<property name="subname" value="Maths"></property>
	</bean>
	
	<bean id="shopBean" class="com.ent.viaSetter.Shop">
		<property name="name" value="QSpider"></property>
		<property name="items">
			<map> 
				<entry key="pen" value="10.00" />
				<entry key="scale" value="20.00" />
			</map>
		</property>
	
	</bean>

</beans>